In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv("HR RAW DATA copy.csv", index_col= 0)

In [3]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'employeecount',
       'employeenumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NUMCOMPANIESWORKED',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TOTALWORKINGYEARS', 'TrainingTimesLastYear', 'WORKLIFEBALANCE',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YEARSWITHCURRMANAGER', 'SameAsMonthlyIncome', 'DateBirth', 'Salary',
       'RoleDepartament', 'NUMBERCHILDREN', 'RemoteWork'],
      dtype='object')

In [4]:
import re

# Ejemplo de DataFrame
lista= ['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'employeecount',
       'employeenumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NUMCOMPANIESWORKED',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TOTALWORKINGYEARS', 'TrainingTimesLastYear', 'WORKLIFEBALANCE',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YEARSWITHCURRMANAGER', 'SameAsMonthlyIncome', 'DateBirth', 'Salary',
       'RoleDepartament', 'NUMBERCHILDREN', 'RemoteWork']
lista_excepcion= ['employeecount','employeenumber', 'NUMBERCHILDREN','WORKLIFEBALANCE',
                  'YEARSWITHCURRMANAGER','NUMCOMPANIESWORKED','TOTALWORKINGYEARS']
dicc_col = {}
dicc_excepcion ={}
# Aplica la funci√≥n a la columna del DataFrame
for col in lista:
        cambio= re.sub(r'([a-z])([A-Z])', r'\1 \2', col)
        dicc_col[col]=cambio
for col in lista_excepcion:
        dicc_excepcion['YEARSWITHCURRMANAGER'] = 'Years With Curr Manager'
        dicc_excepcion['TOTALWORKINGYEARS'] = 'Total Working Years'
        dicc_excepcion['NUMCOMPANIESWORKED'] = 'Num Companies Worked'
        dicc_excepcion['NUMBERCHILDREN'] = "Number Children"
        dicc_excepcion['WORKLIFEBALANCE'] = "Work Life Balance"
        dicc_excepcion['employeenumber'] = "Employee Number"
        dicc_excepcion['employeecount'] = "Employee Count"
df.rename(columns =dicc_col, inplace=True)
df.rename(columns =dicc_excepcion, inplace=True)

In [5]:
df.columns

Index(['Age', 'Attrition', 'Business Travel', 'Daily Rate', 'Department',
       'Distance From Home', 'Education', 'Education Field', 'Employee Count',
       'Employee Number', 'Environment Satisfaction', 'Gender', 'Hourly Rate',
       'Job Involvement', 'Job Level', 'Job Role', 'Job Satisfaction',
       'Marital Status', 'Monthly Income', 'Monthly Rate',
       'Num Companies Worked', 'Over18', 'Over Time', 'Percent Salary Hike',
       'Performance Rating', 'Relationship Satisfaction', 'Standard Hours',
       'Stock Option Level', 'Total Working Years', 'Training Times Last Year',
       'Work Life Balance', 'Years At Company', 'Years In Current Role',
       'Years Since Last Promotion', 'Years With Curr Manager',
       'Same As Monthly Income', 'Date Birth', 'Salary', 'Role Departament',
       'Number Children', 'Remote Work'],
      dtype='object')

In [6]:
col_eliminar = ["Role Departament",
"Same As Monthly Income",
"Age",
"Employee Count",
"Salary"]

for col in col_eliminar:
    df.drop(col, axis=1,inplace=True)

In [7]:
df.columns

Index(['Attrition', 'Business Travel', 'Daily Rate', 'Department',
       'Distance From Home', 'Education', 'Education Field', 'Employee Number',
       'Environment Satisfaction', 'Gender', 'Hourly Rate', 'Job Involvement',
       'Job Level', 'Job Role', 'Job Satisfaction', 'Marital Status',
       'Monthly Income', 'Monthly Rate', 'Num Companies Worked', 'Over18',
       'Over Time', 'Percent Salary Hike', 'Performance Rating',
       'Relationship Satisfaction', 'Standard Hours', 'Stock Option Level',
       'Total Working Years', 'Training Times Last Year', 'Work Life Balance',
       'Years At Company', 'Years In Current Role',
       'Years Since Last Promotion', 'Years With Curr Manager', 'Date Birth',
       'Number Children', 'Remote Work'],
      dtype='object')

Transformar columnas object en float, cambiando comas por puntos.

In [8]:
columnas_object= ['Years In Current Role', 'Monthly Income', 'Daily Rate', 'Hourly Rate']

for columna in columnas_object: 
    df2=df[columna].value_counts()

In [9]:
df[columnas_object].dtypes

Years In Current Role    object
Monthly Income           object
Daily Rate               object
Hourly Rate              object
dtype: object

In [10]:
def cambio_a_float(columna):
    df[columna].replace(",", ".")
    df[columna].replace("$", "", regex=False)
    if df[columna]== 'Not Available':
        df[columna]='0'
    return float(columna)

    
    
#for columna in columnas_object:  
    #df[columna]=df[columna].apply(cambio_a_float) 
        #df[columna]=df[columna].str.replace(",", ".")
        #df[columna]=df[columna].str.replace("$", "", regex=False)
        #df[columna]=df[columna].astype(float)
            
   
df[columnas_object]=df[columnas_object].apply(cambio_a_float)

KeyError: "None of [Index([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,\n       ...\n       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],\n      dtype='object', length=1614)] are in the [columns]"

In [ ]:
try: 
        columna.str.replace(",", ".")
        columna.str.replace("$", "", regex=False)
       
        return float(columna)
    except: 
        if columna== 'Not Available':
            columna='0'
            return np.nan

In [ ]:
df[columnas_object].dtypes

Years In Current Role     object
Monthly Income            object
Daily Rate                object
Hourly Rate              float64
dtype: object

In [ ]:
df[columnas_object].isna().sum()

Years In Current Role    1580
Monthly Income            843
Daily Rate                124
dtype: int64

In [ ]:
df.dtypes

Transformar columnas int64 en float.

In [ ]:
def negativos(nombre_columna):

    if nombre_columna< 0: 
        return np.nan        

    else: 
        return float(nombre_columna)

df['Distance From Home']=df['Distance From Home'].apply(negativos)

In [ ]:
df['Distance From Home']

Transformar columnas object en int64, cambiando comas por puntos.

In [ ]:
df.columns

Index(['Attrition', 'Business Travel', 'Daily Rate', 'Department',
       'Distance From Home', 'Education', 'Education Field', 'Employee Number',
       'Environment Satisfaction', 'Gender', 'Hourly Rate', 'Job Involvement',
       'Job Level', 'Job Role', 'Job Satisfaction', 'Marital Status',
       'Monthly Income', 'Monthly Rate', 'Num Companies Worked', 'Over18',
       'Over Time', 'Percent Salary Hike', 'Performance Rating',
       'Relationship Satisfaction', 'Standard Hours', 'Stock Option Level',
       'Total Working Years', 'Training Times Last Year', 'Work Life Balance',
       'Years At Company', 'Years In Current Role',
       'Years Since Last Promotion', 'Years With Curr Manager', 'Date Birth',
       'Number Children', 'Remote Work'],
      dtype='object')

In [ ]:
columnas_int=['Employee Number', 'Total Working Years','Standard Hours','Hourly Rate']

In [ ]:
for columna in columnas_object:  
    df[columna]=df[columna].str.replace(",", ".")
    df[columna]=df[columna].str.replace("$", "", regex=False)
    df[columna]=df[columna].astype(float)